<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer1" class="bd-footer py-3 py-md-4 mt-5" style="background-color: #92cdb6;">
    <div class="container py-3 py-md-4 px-4 px-md-3">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center link-dark text-decoration-none" href="#" aria-label="App">
                    <img src="https://placehold.co/200x200" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                    <span class="ms-3">App</span>
                </a>
                <ul class="list-unstyled small-text">
                    <li>Desarrollado con pasión por el equipo de App</li>
                    <li>Código licenciado bajo <a href="https://opensource.org/license/mit">MIT</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none" href="/">Inicio</a></li>
                    <li><a class="text-decoration-none" href="/productos">Productos</a></li>
                    <li><a class="text-decoration-none" href="/manufacturers">Fabricantes</a></li>
                    <li><a class="text-decoration-none" href="/purchases">Compras</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Otros lugares de interés</h5>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none" href="/">Inicio</a></li>
                    <li><a class="text-decoration-none" href="/productos">Productos</a></li>
                    <li><a class="text-decoration-none" href="/manufacturers">Fabricantes</a></li>
                    <li><a class="text-decoration-none" href="/purchases">Compras</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


</body>
</html>